.btn-success {
    background-color: rgb(108, 186, 97);
border-color: rgb(108, 186, 97);
}

small {
    color: rgb(223, 115, 69);
 }

 .img-thumbnail

 {
    height: 440px; width: 340px;
 }

 .img-fluid {
    height: 530px; 
    width: 470px;
 }