.myoffer3 {
    display: inline;
    padding-bottom: 30px;
   
    }
    .myoffer4 {
     display: inline;
    
     }
     .button-box {
      width:100%;
      text-align:center;
      
     }

     small {
        color: rgb(255, 1, 1);
     }

     .btn-success {
        background-color: rgb(108, 186, 97);
        border-color: rgb(108, 186, 97);
        }

        .btn-primary {
            background-color: rgb(84, 140, 102);
            border-color: rgb(84, 140, 102) ;
        }
  